@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body {
  background-image: url('../images/source_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 700px; /* Adjust the width as per your preference */
  min-width: 400px;
  margin: 0 auto; /* Center the body horizontally */
  font-family: 'Young Serif', serif;
}
.bg-color {
    background-color: #e6e6e6; /* Adjust background color as needed */
    margin: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
  }
  

.navbar {
  margin: 0;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 700px; /* Adjust the max-width of the navbar */
  margin: 0 auto; /* Center the navbar horizontally */
}
  

.navbar .logo {
  align-self: center;
  text-align: center;
  left: auto;
  padding: 4px;
  border-radius: 10px;
  background-color: #006ebc;
}


.account {
  margin-left: auto; /* Adjust margin as needed */
  border-radius: 5px;
  padding: 7px;
  background-color: #ccc;
  
}
.account a {
    text-decoration: none;
}

.navbar .logo a {
    font-weight: bold;
    font-size: 50px;
}


h2 {
    text-align: center;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2980b9;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Young Serif', serif;
}


.results-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0 auto;
max-width: 1300px;
}

.result {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result h2 {
    font-size: 16px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 10px);
}

.result h3 {
    font-size: 14px;
    margin: 5px 0;
}

.result strong {
    font-weight: bold;
}

.result h4 {
    font-size: 12px;
    margin-top: 10px;
}

/* Limit description to one line and show ellipsis for overflow */
.result p {
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 10px);
}



.overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
    transition: opacity 200ms;
  visibility: hidden;
    opacity: 0;
    &.light {
    background: rgba(255,255,255,0.5);
  }
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
  }
  
  .popup {
    margin: 75px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 300px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    position: relative;
  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  }
  h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  }
  
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }
  .content {
    max-height: 400px;
    overflow: auto;
  }
  p {
    margin: 0 0 1em;
    &:last-child {
      margin: 0;
    }
  }
  }